{{extend 'layout.html'}}
<h1>Comprobantes</h1>
{{=form}}
{{if los_comprobantes:}}

{{if registros:}}
{{=H5("Mostrando %s registros por página" % registros)}}
{{pass}}

{{if los_link:}}

Secciones ({{=laseccion}}):

{{if (int(seccion) -1)  > -1:}}
{{=anterior}}
{{pass}}

{{for link in los_link:}}
{{=link}}
{{pass}}

{{if (int(seccion) +1) < len(los_link):}}
{{=posterior}}
{{pass}}

{{pass}}


<!-- El sqltable con los registros-->
{{=los_comprobantes}}

{{else:}}
{{if consulta:}}
{{=H3("No hay registros")}}
{{pass}}
{{pass}}
