<SCRIPT TYPE="text/javascript" _id="script_pre_carga_tributo">
// autocalcular al descargar el formulario
// (para carga de productos desde la base de datos)
/* Copyright 2011 Alan Etkin, spametki@gmail.com. Con código fuente
tomado de ejemplos de los paquetes de software jQuery(c) y jqgrid(c).

Este programa se distribuye bajo los términos de la licencia AGPLv3.

This program is free software: you can redistribute it and/or modify
it under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, version 3 of the License, or any later
version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the Affero GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/
$(document).ready(function(){
  try{
    var tributo = "{{=form.vars.tributo or ''}}";
    var tributoBaseImp = "{{=form.vars.base_imp or 0}}";
    var tributoImporte = "{{=form.vars.importe or 0}}";
  }
  catch(e){
  /* error al descargar variables */
  }


  function calcularTributo(){
    // Actualiza el formulario y calcula el total previo del ítem
    // (antes del ingreso a la base de datos)
    if (tributo != ""){
      // completar formulario de ingreso de detalle

      /* Importante: ¡Estos elementos cambian
      con las modificaciones del model y los form en web2py! */

      /* Actualizar el form */
      $("#formulario_ingreso_detalle_tributo [name=tributo]").val(tributo);
      $("#formulario_ingreso_detalle_tributo [name=base_imp]").val(tributoBaseImp);
      $("#formulario_ingreso_detalle_tributo [name=importe]").val(tributoImporte);

      /* window.alert($("#formulario_ingreso_detalle_tributo [name=tributo]").val() +  " " + $("#formulario_ingreso_detalle_tributo [name=base_imp]").val() + " " + $("#formulario_ingreso_detalle_tributo [name=importe]").val()); */

      // actualizar previsualización
      $("#previo_tributo").val(tributo);
      $("#previo_tributo_base_imp").val(tributoBaseImp);
      $("#previo_tributo_importe").val(tributoImporte);
    }
  }

  // cargar el ítem si se presionó el botón ingresar
  $('#boton_ingresar_detalle_tributo').bind('click', function(event){
    // actualizar los valores de qty y bonif
    tributo = $("#previo_tributo").val();
    tributoImporte = $("#previo_tributo_importe").val();
    tributoBaseImp = $("#previo_tributo_base_imp").val();
    calcularTributo();
    $('#formulario_ingreso_detalle_tributo').submit();
  });
  /* calcularTributo(); */
});
</SCRIPT>
