<SCRIPT TYPE="text/javascript" _id="script_pre_carga_asociado">
// autocalcular al descargar el formulario
// (para carga de productos desde la base de datos)

/* Copyright 2011 Alan Etkin, spametki@gmail.com. Con código fuente
tomado de ejemplos de los paquetes de software jQuery(c) y jqgrid(c).

Este programa se distribuye bajo los términos de la licencia AGPLv3.

This program is free software: you can redistribute it and/or modify
it under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, version 3 of the License, or any later
version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the Affero GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/

$(document).ready(function(){
  try{
    var asocTipoCbte = "{{=form.vars.asoc_tipocbte or ''}}";
    var asocCbteNro = "{{=form.vars.asoc_cbte_nro or ''}}";
    var asocPuntoVta = "{{=form.vars.asoc_punto_vta or ''}}";
  }
  catch(e){
  /* error al descargar variables */
  }


  function actualizarAsociado(){
    // (antes del ingreso a la base de datos)
    if (asocCbteNro != ""){
      // completar formulario de ingreso de detalle

      /* Importante: ¡Estos elementos cambian
      con las modificaciones del model y los form en web2py! */

      /* Actualizar el form */
      $("#formulario_ingreso_detalle_asociado [name=asoc_tipocbte]").val(asocTipoCbte);
      $("#formulario_ingreso_detalle_asociado [name=asoc_cbte_nro]").val(asocCbteNro);
      $("#formulario_ingreso_detalle_asociado [name=asoc_punto_vta]").val(asocPuntoVta);

      /* window.alert(
      $("#formulario_ingreso_detalle_asociado [name=asoc_tipocbte]").val() + " " +
      $("#formulario_ingreso_detalle_asociado [name=asoc_cbte_nro]").val() + " " +
      $("#formulario_ingreso_detalle_asociado [name=asoc_punto_vta]").val()); */


      // actualizar previsualización
      $("#previo_asoc_cbte_nro").val(asocCbteNro);
      $("#previo_asoc_punto_vta").val(asocPuntoVta);
      $("#previo_asoc_tipocbte").val(asocTipoCbte);
    }
  }

  // cargar el ítem si se presionó el botón ingresar
  $('#boton_ingresar_detalle_asociado').bind('click', function(event){
    // actualizar los valores de qty y bonif
    asocCbteNro = $("#previo_asoc_cbte_nro").val();
    asocPuntoVta = $("#previo_asoc_punto_vta").val();
    asocTipoCbte = $("#previo_asoc_tipocbte").val();
    actualizarAsociado();
    $('#formulario_ingreso_detalle_asociado').submit();
  });
  /* actualizarPermiso(); */
});
</SCRIPT>
