Factura electrónica interactiva (online) por servicios web para AFIP Argentina (según RG 2485/08, 2557/09,  RG2758/10, RG2904/10, RG2975/10, etc.)
<br>
{{=T('Copyright')}} &#169; 2010
<a href="http://www.sistemasagiles.com.ar/" alt="desarrollado por Sistemas Ágiles">
    <img  alt="Sistemas Ágiles" src="{{=URL('static','images/sistemasagiles.png')}}" style="vertical-align: middle;"/>      
</a>
<a href="http://www.pyafipws.com.ar/" alt="utilizando interfaz PyAfipWs">
    <img  alt="PyAfipWs" src="{{=URL('static','images/pyafipws.png')}}" style="vertical-align: middle;"/>
</a>
