{{extend 'layout.html'}}
<h1>Manual de usuario</h1>

<div class="ayuda">
<p>Secciones de ayuda:&nbsp;{{=A("Inicio", _href=URL(f="inicio"))}}&nbsp;{{=A("Configuración", _href=URL(f="configuracion"))}}&nbsp;{{=A("Emisión", _href=URL(f="emision"))}}</p>

<h1>Emisión</h1>

<p>Existen dos modos disponibles. Emisión secuencial (Datos de cbte/Carga de detalles/Autorización) y Emisión asíncrona. El segundo modo de uso permite la carga de datos del comprobante sin cálculo automático de totales e impuestos.</p>

<h3>Emisión secuencial</h3>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/secuencial.png" % request.application)}}

<p>Al ingresar a la sección emisión secuencial se deben completar los datos principales del comprobante.</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/secuencial-datos-generales.png" % request.application)}}

<p>Para seleccionar un cliente ingrese a la lista desde el link <em>Seleccionar cliente</em> y confirme la selección con clic en la columna <em>ID</em> del cliente.</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/secuencial-seleccionar-cliente.png" % request.application)}}

<p>Para avanzar a la próxima instancia seleccione el botón <em>Enviar</em> en la parte inferior del formulario.</p>

<p>Luego del ingreso de los datos iniciales del comprobante se pueden cargar los detalles, tributos y comprobantes asociados. Para avanzar o retroceder en las instancias de creación del comprobante utilice los link <em>Avanzar</em> y <em>Retroceder</em> en la parte inferior de la página</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/secuencial-detallar.png" % request.application)}}

<p>En la pestaña <em>detalles</em>, los productos/servicios disponibles se pueden cargar seleccionando desde una lista (link <em>cargar producto</em>) y por código.</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/secuencial-seleccionar-producto.png" % request.application)}}

<p>Al seleccionar un producto desde la lista los datos del producto se cargan en un formulario previo desde el cual se puede calcular monto por cantidad, impuesto y bonificación. Para recalcular en pantalla los totales del ítem modifique el campo <em>cantidad</em> o <em>bonificación</em> y presione la tecla de tabulación (<em>tab</em>). Si desea agregar el ítem en el comprobante haga clic en el botón <em>Ingresar detalle</em>. Los detalles se pueden editar o eliminar haciendo clic sobre el número de detalle (columna <em>ID</em>)</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/secuencial-calculo-item.png" % request.application)}}

<p>La carga por código consiste en ingresar el número de código completo en el campo <em>Carga por código</em> y luego presionar la tecla de tabulación (<em>tab</em>). El ítem se cargará en el formulario previo para cálculo del detalle. Ingrese el detalle con el botón <em>Ingresar detalle</em></p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/secuencial-carga-por-codigo.png" % request.application)}}

<p>Para el ingreso de comprobantes asociados especificar el número de comprobante, el tipo de documento y el punto de venta. El número a especificar corresponde a la numeración autorizada para el punto de venta. Se puede consultar en el campo <em>cbte nro</em> de la lista de comprobantes emitidos, en la sección consultas.</p>

<h3>Emisión asíncrona</h3>

<p>Ingrese al item <em>Asíncrona</em> del menú superior <em>Emisión</em> de FacturaLibre.</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/asincrona.png" % request.application)}}

<p>Las pestañas dividen conceptos (Detalle, Tributo, Cbte asociado, Datos generales). Para ingresar un ítem en el comprobante se debe hacer clic en el concepto de la tabla superior.</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/asincrona-ingresar.png" % request.application)}}

<p>Los ítem agregados se visualizan en la tabla inferior de cada sección. Las tablas inferiores permiten edición y eliminación de cada ítem. Para editar un ítem márquelo con un clic izquierdo del ratón y luego seleccione la imagen del lápiz en la parte inferior de la tabla.</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/asincrona-editar.png" % request.application)}}

<p>El borrado del ítem se realiza con la imagen de la papelera junto al lápiz de edición, marcando el ítem a borrar con el ratón.</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/asincrona-eliminar.png" % request.application)}}

<p>La función <em>vista previa</em> en la pestaña de autorización permite hacer una consulta de los datos básicos del comprobante antes de enviar la solicitud a los web services de AFIP</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/asincrona-vista-previa.png" % request.application)}}

<p>Se debe marcar un cliente para generar el comprobante. Márquelo con clic en el ítem correspondiente al cliente seleccionado. El elemento marcado se resalta con color</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/asincrona-seleccionar-cliente.png" % request.application)}}

<p>La sección de datos del comprobante permite cargar totales y otros parámetros de facturación como fechas y moneda. El ingreso de totales para el comprobante y por cada ítem es obligatorio para solicitar la autorización.</p>

{{=IMG(_class="ayuda-imagen", _src="/%s/static/images/asincrona-datos.png" % request.application)}}

<p>Recuerde cargar los totales por detalle previamente a la solicitud de autorización en la tabla inferior de la pestaña <em>detalles</em>.</p>

</div>