{{extend 'layout.html'}}
<h1>Manual de usuario</h1>
<div class="ayuda">
<p>Secciones de ayuda:&nbsp;{{=A("Inicio", _href=URL(f="inicio"))}}&nbsp;{{=A("Configuración", _href=URL(f="configuracion"))}}&nbsp;{{=A("Emisión", _href=URL(f="emision"))}}</p>
{{=H1("Modo de uso")}}
{{=H3("Instrucciones básicas para operar la interfaz:")}}
{{
=OL(LI(P("Completar los ", EM("campos generales"), " del comprobante"), IMG(_class="ayuda-imagen", _src="/%s/static/images/factura-iniciar.png" % request.application)),
LI(P("Completar los ", EM("detalles"), " del comprobante (artículos)"), IMG(_class="ayuda-imagen", _src="/%s/static/images/factura-detallar.png" % request.application)),
LI(P("Confirmar, ", EM("autorizar y confeccionar"), " la factura"), IMG(_class="ayuda-imagen", _src="/%s/static/images/factura-confirmar.png" % request.application), IMG(_class="ayuda-imagen", _src="/%s/static/images/factura-autorizar.png" % request.application)))
}}
{{=UL(LI(P("El sitio también contempla la funcionalidad de ", EM("consultas"), " para revisar las facturas electrónicas.")))}}
</div>
