{{extend 'layout.html'}}
<h1>Setup: panel de control</h1>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Inicial</a></li>
        <li><a href="#tabs-2">Variables Grales</a></li>
        <li><a href="#tabs-3">Variables Usuario</a></li>
        <li><a href="#tabs-4">Otros Parámetros</a></li>
        <li><a href="#tabs-5">Roles</a></li>
        <li><a href="#tabs-6">ABM</a></li>
    </ul>
    <div id="tabs-1">
<UL>
<LI>Idiomas: {{=idiomas}} ({{=A('Crear idiomas', _href=URL(r=request, c='setup', f='crear_idiomas'))}})</LI>
<LI>IVA(s): {{=ivas}} ({{=A('Crear iva(s)', _href=URL(r=request, c='setup', f='crear_iva'))}})</LI>
<LI>Monedas: {{=monedas}} ({{=A('Crear monedas', _href=URL(r=request, c='setup', f='crear_monedas'))}})</LI>
<LI>Países: {{=paises}} ({{=A('Crear países', _href=URL(r=request, c='setup', f='crear_paises'))}})</LI>
<LI>Provincias: {{=provincias}} ({{=A('Crear provincias', _href=URL(r=request, c='setup', \
f='crear_provincias'))}})</LI>
<LI>Localidades: {{=localidades}} ({{=A('Crear localidades', _href=URL(r=request, c='setup', f='crear_localidades'))}})</LI>
<LI>Tipos de comprobante: {{=tipos_cbte}} ({{=A('Crear tipos de comprobante', _href=URL(r=request, c='setup', \
f='crear_tipos_cbte'))}})</LI>
<LI>Tipos de documento: {{=tipos_doc}} ({{=A('Crear tipos de documento', _href=URL(r=request, c='setup', \
f='crear_tipos_doc'))}})</LI>
<LI>Unidades de medida: {{=umedidas}} ({{=A('Crear unidades de medida', _href=URL(r=request, c='setup', \
f='crear_umedidas'))}})</LI>
<LI>Condiciones IVA: {{=condiciones_iva}} ({{=A('Crear condiciones IVA', _href=URL(r=request, c='setup', \
f='crear_condiciones_iva'))}})</LI>
<LI>Tributos: {{=tributos}} ({{=A('Crear tributos', _href=URL(r=request, c='setup', \
f='crear_tributos'))}})</LI>
<LI>Aduanas: {{=aduanas}} ({{=A('Crear aduanas', _href=URL(r=request, c='setup', \
f='crear_aduanas'))}})</LI>
<LI>Destinaciones: {{=destinaciones}} ({{=A('Crear destinaciones', _href=URL(r=request, c='setup', \
f='crear_destinaciones'))}})</LI>
{{if plantilla_base:}}
<LI>Plantilla base (pyfpdf): {{=plantilla_base.title}}</LI>
{{else:}}
<LI>Plantilla base (pyfpdf): (Tabla vacía) ({{=A('Crear plantilla pyfpdf base', _href=URL(r=request, c='salida', \
f='crear_factura_base'))}})</LI>
{{pass}}

</UL>
    </div>
    <div id="tabs-2">
<UL>
{{if variables:}}
<LI>Variables ({{=A('Modificar', _href=URL(r=request, c='setup', f='variables') )}}):{{=BEAUTIFY(variables.as_dict())}}</LI>
{{pass}}
</UL>
    </div>
    <div id="tabs-6">
{{=A("Modificar registros", _href=URL(f="modificar"))}}
<UL>
<LI>Clientes: {{=clientes}} ({{=A('Crear cliente', _href=URL(r=request, c='setup', \
f='crear_cliente'))}})</LI>
<LI>Tributos: {{=tributos}} ({{=A('Crear tributo', _href=URL(r=request, c='setup', \
f='crear_tributo'))}})</LI>
<LI>Productos: {{=productos}} ({{=A('Crear producto', _href=URL(r=request, c='setup', \
f='crear_producto'))}})</LI>
<LI>Puntos de venta: {{=puntos_de_venta}} ({{=A('Crear punto de venta', _href=URL(r=request, c='setup', \
f='crear_puntodeventa'))}})</LI>
<LI>Vendedores: {{=puntos_de_venta}} ({{=A('Crear vendedor', _href=URL(r=request, c='setup', \
f='crear_vendedor'))}})</LI>
</UL>
    </div>
    <div id="tabs-3">
<UL>
{{if variablesusuario:}}
<LI>Variables de usuario ({{=A('Modificar', _href=URL(r=request, c='setup', f='variablesusuario') )}}):{{=BEAUTIFY(variablesusuario.as_dict())}}</LI>
{{pass}}
</UL>
    </div>

    <div id="tabs-4">
<UL>
<LI>CUIT de Países: {{=cuit_paises}} ({{=A('Crear CUIT de Países', _href=URL(r=request, c='servicios_web', \
f='crear_cuit_paises', args=['wsfex',]))}})</LI>
*Configurar previamente las las tablas iniciales y las variables generales.
</UL>
    </div>

    <div id="tabs-5">
<UL>
<LI>Roles: {{=BEAUTIFY(roles)}} ({{=A('Listar/Asignar por usuario', _href=URL(r=request, c='setup', \
f='roles_editar'))}})</LI>
</UL>
    </div>
</div>
