{{extend 'layout.html'}}
<h1>Setup: panel de control</h1>

<UL>
{{if variables:}}
<LI>Variables ({{=A('Modificar', _href=URL(r=request, c='setup', f='variables') )}}):{{=variables.as_dict()}}</LI>
{{pass}}
{{if variables_usuario:}}
<LI>Variables de usuario ({{=A('Modificar', _href=URL(r=request, c='setup', f='variables_usuario') )}}):{{=variables_usuario.as_dict()}}</LI>
{{pass}}

<LI>Idiomas: {{=idiomas}} ({{=A('Crear idiomas', _href=URL(r=request, c='setup', f='crear_idiomas'))}})</LI>
<LI>IVA(s): {{=ivas}} ({{=A('Crear iva(s)', _href=URL(r=request, c='setup', f='crear_iva'))}})</LI>
<LI>Monedas: {{=monedas}} ({{=A('Crear monedas', _href=URL(r=request, c='setup', f='crear_monedas'))}})</LI>
<LI>Países: {{=paises}} ({{=A('Crear países', _href=URL(r=request, c='setup', f='crear_paises'))}})</LI>
<LI>Provincias: {{=provincias}} ({{=A('Crear provincias', _href=URL(r=request, c='setup', \
f='crear_provincias'))}})</LI>
<LI>Localidades: {{=localidades}} ({{=A('Crear localidades', _href=URL(r=request, c='setup', f='crear_localidades'))}})</LI>
<LI>Tipos de comprobante: {{=tipos_cbte}} ({{=A('Crear tipos de comprobante', _href=URL(r=request, c='setup', \
f='crear_tipos_cbte'))}})</LI>
<LI>Tipos de documento: {{=tipos_doc}} ({{=A('Crear tipos de documento', _href=URL(r=request, c='setup', \
f='crear_tipos_doc'))}})</LI>
<LI>Unidades de medida: {{=umedidas}} ({{=A('Crear unidades de medida', _href=URL(r=request, c='setup', \
f='crear_umedidas'))}})</LI>
<LI>Condiciones IVA: {{=condiciones_iva}} ({{=A('Crear condiciones IVA', _href=URL(r=request, c='setup', \
f='crear_condiciones_iva'))}})</LI>
<LI>CUIT de Países: {{=cuit_paises}} ({{=A('Crear CUIT de Países', _href=URL(r=request, c='servicios_web', \
f='crear_cuit_paises', args=['wsfex',]))}})</LI>
<LI>Puntos de venta: {{=puntos_de_venta}}</LI>
<LI>Roles: {{=roles}} ({{=A('Listar/Asignar por usuario', _href=URL(r=request, c='setup', \
f='roles_editar'))}})</LI>
</UL>
<br />
