/* Hoja de estilo para pyafipws-web2py-app */
.excluir{display: none;}
/*Anchos de ingreso de texto en formularios*/

.tabla_detalle{
/* valores para la tabla de ítem*/
}

.tabla_detalle input{
width: 90%;
}

.tabla_detalle input[type=button]{
width: 5em;
margin-left: 10%;
}

tr.detalles_previos td{
/**/
}

/*
.valor{}
.texto{}
*/
