{{extend 'layout.html'}}
<h1>Emision de facturas - Detalles (Paso 2)</h1>
{{=form}}

{{=A('Cargar producto', _href=URL(r=request, f='cargar_producto'))}}

{{# widget autocomplete para la descripción del producto }}
{{form_sugerir=SQLFORM(db.sugerir, _id="formulario_sugerir")}}
{{=form_sugerir[0][0][1]}}

{{if producto:}}
{{=LOAD('emision','detalle.load',ajax=True, vars={'producto': producto})}}
{{else:}}
{{=LOAD('emision','detalle.load',ajax=True)}}
{{pass}}

{{=A("<< Anterior", _href=URL("iniciar"))}}
-
{{=A("Siguiente >>", _href=URL("finalizar"))}}
