{{extend 'layout.html'}}
<h1>Emision de facturas - Detalles (Paso 2)</h1>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Detalle</a></li>
        <li><a href="#tabs-2">Tributos</a></li>
        <li><a href="#tabs-3">Permisos</a></li>
        <li><a href="#tabs-4">Cbtes. asociados</a></li>
        <li><a href="#tabs-5">Información del comprobante</a></li>
    </ul>
    <div id="tabs-1">
{{=H5("Detalle de cbte")}}
{{# widget autocomplete para la descripción del producto }}
{{form_sugerir=SQLFORM(db.sugerir, _id="formulario_sugerir")}}
{{=SPAN(A('Cargar producto (lista)', _href=URL(r=request, f='cargar_producto')), form_sugerir[0][0][1])}}
{{=SPAN(LABEL('Carga por código'), INPUT(_id="carga_por_codigo", _class="valor", _style="width: 10em;"))}}
{{if producto:}}
{{=LOAD('emision','detalle.load',ajax=True, vars={'producto': producto})}}
{{else:}}
{{=LOAD('emision','detalle.load',ajax=True)}}
{{pass}}
    </div>
    <div id="tabs-2">
{{=H5("Detalle de tributos")}}
{{=LOAD('emision','detalle_tributo.load',ajax=True)}}
    </div>
    <div id="tabs-3">
{{=H5("Detalle de permisos")}}
{{=LOAD('emision','detalle_permiso.load',ajax=True)}}
    </div>
    <div id="tabs-4">
{{=H5("Cbtes asociados")}}
{{=LOAD('emision','detalle_asociado.load',ajax=True)}}
    </div>
    <div id="tabs-5">
{{=SPAN(form)}}
    </div>
</div>
{{=A("<< Anterior", _href=URL("iniciar"))}}
-
{{=A("Siguiente >>", _href=URL("finalizar"))}}

