{{extend 'layout.html'}}
<h1>Emision de facturas - Confirmar (Paso 3)</h1>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Datos del comprobante</a></li>
    </ul>
    <div id="tabs-1">
        <div class="formulario_largo">
            {{=form}}
            {{=A("Cancelar cbte.", _href=URL(r=request, c='emision', f='iniciar', args=['nuevo',]))}}
        </div>
    </div>
</div>


{{=A("Autorizar", _href=URL(c="servicios_web",f="autorizar",args=[comprobante.webservice, comprobante.id]))}}

{{=A("Vista Previa", _href=URL(c="salida",f="invoice",args=["comprobante", comprobante.id]))}}

{{=A("<< Anterior", _href=URL("detallar"))}}
