{{extend 'layout.html'}}
<h1>Datos Generales del Comprobante (Paso 1)</h1>
{{if form.vars.nombre_cliente:}}
{{nombre_cliente = form.vars.nombre_cliente}}
{{else:}}
{{nombre_cliente = " "}}
{{pass}}

{{ if not form.vars.webservice:}}

{{try:}}
{{ webservice = variablesusuario.webservice }}
{{except:}}
{{ webservice = '' }}
{{pass}}

{{ else: }}
{{ webservice = form.vars.webservice }}
{{ pass }}

{{ if not form.vars.punto_vta:}}

{{try:}}
{{ punto_vta = variablesusuario.puntodeventa }}
{{except:}}
{{ punto_vta = '' }}
{{pass}}

{{ else: }}
{{ punto_vta = form.vars.punto_vta }}
{{ pass }}

{{try:}}
{{comprobante = db.comprobante[session.comprobante].cbte_nro}}
{{except (AttributeError, KeyError, ValueError, TypeError):}}
{{comprobante = "(Nuevo)" }}
{{pass}}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Carga de datos</a></li>
        <li><a href="#tabs-2">Datos del cliente</a></li>
        <li><a href="#tabs-3">Cbte {{=comprobante}} </a></li>
    </ul>
    <div id="tabs-1">
        <div class="formulario_largo">
        {{=A("Seleccionar cliente (" + nombre_cliente + ")", _href=URL(r=request, c='emision', f='comprobante_tabla_clientes'))}}
            <div class="form_comprobante">
                {{=form}}
            </div>
        </div>
    </div>
    <div id="tabs-2">
    {{if cliente:}}        
        {{=SQLFORM(db.cliente, cliente.id, readonly=True)}}
    {{pass}}
    </div>
    <div id="tabs-3">
    {{=UL(LI("Punto de venta: " + str(punto_vta)), LI("Webservice: " + str(webservice)))}}
    {{=A("Cancelar cbte.", _href=URL(r=request, c='emision', f='iniciar', args=['nuevo',]))}}
    </div>
</div>
