{{extend 'layout.html'}}
<h1>ABM:Consultas</h1>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Ver/Editar</a></li>
    </ul>
    <div id="tabs-1">
    {{if opciones:}}
        <span>{{=A("Descargar PDF", _href=URL(r = request, c="salida", f="invoice", args = ["comprobante", cbte_id])) }}&nbsp;</span>
        <span>{{=A("Reprocesar", _href=URL(r = request, c="emision", f="reprocesar", args = [cbte_id,])) }}&nbsp;</span>
        <span>{{=A("Reprocesar (carga manual de totales)", _href=URL(r = request, c="ialt", f="reprocesar", args = [cbte_id,])) }}</span>
    {{pass}}
    {{if form:}}
        {{=form}}
    {{pass}}
    </div>
</div>
 
