{{extend 'layout.html'}}
<h1>Nuevo comprobante</h1>

{{if session.efectos:}}
{{ include 'facturalibre-ialt-script.html'}}

<div id="caja_listas" class="tabs">
    <ul>
        <li><a href="#tabs-1">Productos</a></li>
        <li><a href="#tabs-2">Clientes</a></li>
        <li><a href="#tabs-3">Tributos</a></li>
        <li><a href="#tabs-4">Cbtes. Asoc.</a></li>
        <li><a href="#tabs-5">Permisos</a></li>
        <li><a href="#tabs-6">Datos cbte.</a></li>
        <li><a href="#tabs-7">Autorización</a></li>
    </ul>

    <div id="tabs-1">
        <div  class="tabla_dinamica">
            <table id="tabla_productos"></table>
            <div id="pager1" class="jqgrid"></div>
        </div>
        <div class="tabla_dinamica">
            <table id="tabla_detalles"></table>
            <div id="pager6" class="jqgrid"></div>
        </div>
    </div>

    <div id="tabs-2">
        <div class="tabla_dinamica">
            <table id="tabla_clientes" class="jqgrid"></table>
            <div id="pager2" class="jqgrid"></div>
        </div>
    </div>

    <div id="tabs-3">
        <div class="tabla_dinamica">
            <table id="tabla_tributos" class="jqgrid"></table>
            <div id="pager3" class="jqgrid"></div>
        </div>
        <div class="tabla_dinamica">
            <table id="tabla_items_tributo" class="jqgrid"></table>
            <div id="pager7" class="jqgrid"></div>
        </div>
    </div>

    <div id="tabs-4">
        <div class="tabla_dinamica">
            <table id="tabla_cbtesasoc" class="jqgrid"></table>
            <div id="pager4" class="jqgrid"></div>
        </div>
        <div class="tabla_dinamica">
            <table id="tabla_items_cbtesasoc" class="jqgrid"></table>
            <div id="pager8" class="jqgrid"></div>
        </div>
    </div>

    <div id="tabs-5">
        <div class="tabla_dinamica">
            <input type="button" value="Agregar permiso" onclick="js:agregarPermiso();" id="boton_agregar_permiso">
            <table id="tabla_items_permisos" class="jqgrid"></table>
        <div id="pager9" class="jqgrid"></div>
        </div>
    </div>

    <div id="tabs-6">
        <div id="datos" class="form_largo">
            {{=LOAD('ialt','form_cbte.load',ajax=True)}}
        </div>
    </div>

    <div id="tabs-7">
        <div id="autorizar" class="tabla_dinamica">
            {{=A("Nuevo comprobante", _href=URL(r=request, c="ialt", f="index.html", args=["nuevo",]))}}
            <div id="previsualizacion">
                {{=LOAD('ialt','vista_previa.load',ajax=True)}}
            </div>
            <div id="autorizar" class="tabla_dinamica">
                {{=LOAD(url = URL(c='ialt_servicios_web', f='autorizar.load'), ajax=True)}}
            </div>
        </div>
    </div>

</div>


{{ else:}}
  {{=SCRIPT("window.alert('La interfase alternativa es incompatible con la versión de su navegador.');")}}
{{pass}}
